<header>
    <h1>MENU</h1>
    <menu>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="formations">Nos formations</a></li>
            <li><a href="blog">Le blog</a></li>
            <li><a href="contact">Nous contacter</a></li>
        </ul>
    </menu>
    <hr>
</header>
<main>
    <h1>{{title}}</h1>
    <form action="contact" method="GET">
        <input type="text" placeholder="Nom" required>
        <input type="text" placeholder="Prénom" required>
        <br><br>
        <input type="email" placeholder="Email" required> 
        <br><br>
        <input type="tel" placeholder="Phone number" required>
        <br><br>
        <select name="demande" id="demande" required>
            <option value="inscription">Inscription</option>
            <option value="demandeFormation">Demande de la Formation</option>
        </select>
        <br><br>
        <textarea name="champDemande" id="champDemande" cols="30" rows="10" required></textarea>
        <br><br>
        <input type="submit" value="soumettre">
    </form>
</main>
<hr>
<footer>
    <p><strong>Tous droits réservé | Node express | 2021</strong></p>
</footer>