<header>
    <h1>MENU</h1>
    <menu>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="formations">Nos formations</a></li>
            <li><a href="blog">Le blog</a></li>
            <li><a href="contact">Nous contacter</a></li>
        </ul>
    </menu>
</header>
<main>
<h1>{{title}}</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, est dolorum cupiditate unde eum qui culpa obcaecati autem doloremque dolores quae deleniti magnam rerum atque cum aliquid ipsa nihil quasi.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, corporis quo officiis, quis totam quae incidunt sed ipsum nisi, nesciunt distinctio commodi ratione cumque harum nobis minima vero eum sint! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde quisquam dolorem nesciunt necessitatibus atque animi corporis, assumenda autem, sunt veniam ipsa similique officiis eaque, cumque optio voluptate sint recusandae numquam.</p>
<hr>
</main>
<footer>
    <p><strong>Tous droits réservé | Node express | 2021</strong></p>
</footer>