<header>
    <h1>MENU</h1>
    <menu>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="formations">Nos formations</a></li>
            <li><a href="blog">Le blog</a></li>
            <li><a href="contact">Nous contacter</a></li>
        </ul>
    </menu>
</header>
<hr>
<main>
    <h1>{{title}}</h1>
    <hr>
    <h2>Catégorie #1</h2>
    <hr>
    <ul>
        {{#each formations}}
            <li>
                <h2>{{this.nom}}</h2>
                <h3>{{this.description}}</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea consectetur labore enim quae, laborum repudiandae accusamus nihil quo, aperiam temporibus harum in illo quod! Quisquam quos accusamus, porro eos qui dolores veritatis repellendus cum aliquam consequuntur harum enim ipsum? Dignissimos asperiores accusantium beatae magnam rem. Voluptatum maiores reiciendis impedit dolores ab quo excepturi. Quidem accusantium optio assumenda repellat impedit, provident fuga ex voluptate dicta aliquam laboriosam, illo in animi maiores. Vitae consectetur ex quasi quod aliquid, suscipit delectus voluptatibus dolorem autem quaerat obcaecati eos eius dolore voluptates nobis, fugit maxime vel dolores! Perferendis labore at est beatae possimus? Ullam, laborum.</p>
                <h3>{{this.lien}}</h3>
                <a href="page_formation">Cliquez ici pour voir la formation</a>
                <br><br>
            </li>
        {{/each}}
    </ul>
    <hr>
    <h2>Catégorie #2</h2>
    <hr>
    <ul>
        {{#each formations}}
            <li>
                <h2>{{this.nom}}</h2>
                <h3>{{this.description}}</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus voluptates expedita doloremque. Iure, itaque fugiat! Neque aliquam nesciunt quo reiciendis similique id, incidunt aspernatur magni dolores inventore nulla. Enim suscipit hic magnam numquam necessitatibus veritatis non, explicabo cum laboriosam velit, autem deleniti vitae corporis laudantium quod? Dolores, iste vitae, vero asperiores quia illum repellat natus expedita necessitatibus assumenda reprehenderit optio magni voluptatibus nulla, autem dicta. Tempora eligendi libero consequatur accusamus maxime eius sunt culpa id, voluptates tenetur beatae odio expedita tempore deleniti non, quasi harum voluptate magni, modi consectetur fuga quibusdam. Voluptatum consectetur ut rerum repudiandae molestias voluptatem ex labore.</p>
                <h3>{{this.lien}}</h3>
                <a href="page_formation">Cliquez ici pour voir la formation</a>
                <br><br>
            </li>
        {{/each}}
    </ul>
    <hr>
</main>
<footer>
    <p><strong>Tous droits réservé | Node express | 2021</strong></p>
</footer>