<header>
    <h1>MENU</h1>
    <menu>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="formations">Nos formations</a></li>
            <li><a href="blog">Le blog</a></li>
            <li><a href="contact">Nous contacter</a></li>
        </ul>
    </menu>
    <hr>
</header>
<main>
    <h2>Article: Développement Node JS</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, blanditiis! Provident quas unde similique praesentium qui delectus voluptate quod error quibusdam, veritatis eveniet enim repudiandae optio cumque iure at dignissimos vel officia distinctio ex esse inventore! Reiciendis illum veniam alias, earum autem voluptate soluta vitae, minima velit explicabo nam porro dolores quis ut impedit ipsam molestias harum error eum eveniet numquam et tempora nihil. Eveniet, aliquam tempore ipsum nostrum neque quod. Ipsa laborum architecto atque, repudiandae voluptatum sed minus maiores voluptas ex voluptatibus unde consectetur reiciendis deserunt cumque eius a officiis sequi numquam consequatur accusamus eos beatae quam quos consequuntur. At enim ullam possimus nihil accusamus veniam eligendi, rem eaque, quis id illum earum? Minus quaerat voluptate voluptatem ab minima.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo quam commodi beatae accusamus! Perspiciatis, provident animi cupiditate cum exercitationem tenetur fugit quasi voluptates enim quae, expedita suscipit rem quis vel architecto! Saepe ipsam quis, error, eos temporibus nesciunt ipsa quibusdam aliquid deserunt voluptas deleniti consequatur aut itaque architecto ipsum, nostrum accusantium dolore in esse commodi consequuntur culpa. Distinctio aut et culpa vero placeat blanditiis, voluptas debitis temporibus, sit quasi labore, minus dignissimos officia repellendus vitae atque eveniet sed sunt in id? Deleniti dolor totam ratione harum asperiores id repudiandae quam aspernatur consequuntur aut? Illum vitae amet est voluptate ipsum alias suscipit consequatur exercitationem natus minima. Et adipisci a voluptas porro officia nostrum non excepturi animi suscipit dolores hic, doloribus quibusdam sint soluta saepe illum autem, sed corporis temporibus obcaecati fugiat quo unde. Pariatur voluptatem vitae at dolore, aspernatur accusantium eveniet nobis culpa error obcaecati fugit quaerat beatae quibusdam commodi suscipit minus sint recusandae a nemo, inventore exercitationem qui placeat mollitia doloribus. Maiores quo saepe similique ut! Tempora id animi nobis tenetur. Alias repudiandae laudantium atque ipsa quo ipsam pariatur iste soluta sunt, omnis veritatis, consequuntur assumenda vitae error, placeat exercitationem deserunt! Eaque iusto nisi exercitationem impedit fugit quam, voluptatum neque!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, velit. Placeat recusandae beatae sunt, vero debitis enim! Id in consequuntur quis vel eveniet facere! Atque tempora assumenda eius voluptatem debitis, minus blanditiis aliquid dolores aspernatur mollitia totam quam placeat distinctio iure earum dicta ipsa aperiam nihil autem voluptas reiciendis nisi obcaecati! Natus rem facilis animi voluptas eveniet, inventore non deserunt reprehenderit. Enim perspiciatis qui, expedita blanditiis quam iste a ullam?</p>
</main>
<hr>
<footer>
    <p><strong>Tous droits réservé | Node express | 2021</strong></p>
</footer>